# Análise Exploratória

In [10]:
import pandas as pd

In [11]:
data = pd.read_csv("../data/2_data_clean/data_cleanned.csv", sep=";")

In [12]:
data.head()

,PAPEL,SEGMENTO,DIVIDEND_YIELD,P_VP,LIQUIDEZ,QTD_DE_IMOVEIS,VACANCIA_MEDIA
0,AAZQ11,Títulos e Val. Mob.,0.1574,0.91,752324.0,0,0.00
1,ABCP11,Shoppings,0.0902,0.70,52261.0,1,2.01
2,AEFI11,Outros,0.0000,1.20,0.0,7,0.00
3,AFCR11,NaN,0.0000,1.04,0.0,0,0.00
4,AFHI11,Títulos e Val. Mob.,0.1222,1.01,988744.0,0,0.00

In [13]:
data.columns

Index(['PAPEL', 'SEGMENTO', 'DIVIDEND_YIELD', 'P_VP', 'LIQUIDEZ',
       'QTD_DE_IMOVEIS', 'VACANCIA_MEDIA'],
      dtype='object')

In [14]:
data['LIQUIDEZ'].describe()

count    4.800000e+02
mean     6.802829e+05
std      1.658341e+06
min      0.000000e+00
25%      1.925000e+01
50%      6.031100e+04
75%      5.496895e+05
max      1.456660e+07
Name: LIQUIDEZ, dtype: float64