In [1]:
import pandas as pd

In [4]:
data = pd.read_csv("../data/scraping/data.csv", sep=";")

In [5]:
data.head()

,Papel,Segmento,Cotação,FFO Yield,Dividend Yield,P/VP,Valor de Mercado,Liquidez,Qtd de imóveis,Preço do m2,Aluguel por m2,Cap Rate,Vacância Média
0,AAZQ11,Títulos e Val. Mob.,"7,93","18,32%","15,74%","0,91",190.616.000,752.324,0,"0,00","0,00","0,00%","0,00%"
1,ABCP11,Shoppings,"71,60","8,63%","9,02%","0,70",337.170.000,52.261,1,"4.702,88","511,02","10,87%","2,01%"
2,AEFI11,Outros,"174,90","8,89%","0,00%","1,20",411.893.000,0,7,"4.320,48","394,34","9,13%","0,00%"
3,AFCR11,NaN,"103,15","6,80%","0,00%","1,04",498.867.000,0,0,"0,00","0,00","0,00%","0,00%"
4,AFHI11,Títulos e Val. Mob.,"97,58","8,89%","12,22%","1,01",444.537.000,988.744,0,"0,00","0,00","0,00%","0,00%"

In [6]:
data.columns

Index(['Papel', 'Segmento', 'Cotação', 'FFO Yield', 'Dividend Yield', 'P/VP',
       'Valor de Mercado', 'Liquidez', 'Qtd de imóveis', 'Preço do m2',
       'Aluguel por m2', 'Cap Rate', 'Vacância Média'],
      dtype='object')